.Phase{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 3vw;
    border-radius: 1.2vw;
    background: #851A34;
    opacity: 0;
    transition: all 1s ease-in-out;

    .PhaseTitle{
        display: block;
        position: relative;
        color: #EEC73C;
        font-size: 2.5vw;
        font-family: 'Inter-Bold';
        font-weight: 900;
        padding: 2vw 4vw;
    }

    .PhaseContent{
        display: flex;
        flex-direction: column;
        width: 79%;
        height: calc(100% - 6.9vw);
        margin-left: 21%;
        color: #FFFBFF;
        font-size: 2vw;
        line-height: 3.5vw;
        font-family: 'Inter-Regular';
        font-weight: 400;

        .phaseContentList{
            display: block;
            position: relative;

            img{
                display: block;
                position: absolute;
                left: -7.5%;
                top: 50%;
                transform: translate(-50%, -50%);
                filter: drop-shadow(-1px 6px 5px rgba(30, 30, 30, 0.5));
            }
        }   
    }
}

.ShowPhase{
    opacity: 1 !important;
}