@mixin mobile {
    @media screen and (max-width: 1000px) {
        @content
    }
}
.TokenomicsRule{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 26%;
    height: 42%;
    margin-top: 6%;
    background: rgba(133, 26, 52, 0.71);
    opacity: 0;
    transition: all 1s ease-in-out;

    @include mobile{
        width: 90%;
        height: auto;
    }

    .TokenomicsRuleImage{
        display: block;
        position: relative;
        width: 40%;
        margin-top: 8%;
        filter: drop-shadow(-1px 14px 5px rgba(30, 30, 30, 0.5));
        @include mobile{
            margin-top: 3%;
        }
    }

    .TokenomicsRuleTitle{
        display: block;
        position: relative;
        width: 80%;
        margin-top: 8%;
        font-size: 2vw;
        font-family: 'Inter-Bold';
        text-align: center;
        color: #FFFBFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include mobile{
            margin-top: 3%;
            font-size: 5vw;
            font-weight: 700;
        }
    }

    .TokenomicsRuleDescription{
        display: block;
        position: relative;
        width: 80%;
        margin-top: 8%;
        font-size: 1.2vw;
        font-family: 'Inter-Bold';
        text-align: center;
        color: #FFFBFF;

        @include mobile{
            width: 80%;
            margin-top: 5%;
            font-size: 3.2vw;
            line-height: 5vw;
            margin-bottom: 8%;
            font-weight: 700;
        }
    }
}


.ShowTokenomicsRule{
    opacity: 1;
}