@mixin mobile{
    @media(max-width: 1000px){
        @content;
    }
}
.Navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: #851A34;
    white-space: nowrap;
    z-index: 100;
    transition: all 0.5s ease-in-out;

    .NavbarLeft{
        display: flex;
        flex-direction: row;

        .Logo{
            width: 18.4vw;

            @include mobile{
                width: 35vw;
            }
        }

        .NavbarOption{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: auto;
            color: #FFFBFF;
            font-size: 1.2vw;
            font-weight: 100;
            margin-left: 4vw;
            
            @include mobile{
                display: none;
            }
        
            div{
                margin-left: 1.5vw;
                margin-right: 1.5vw;
                cursor: pointer;

                &:hover{
                    color: #EEC73C !important;
                }
            }
        }
    }

    .NavbarRight{
        display: flex;
        flex-direction: row;
        margin-right: 2vw;

        .NavbarTelegram ,.NavbarConnectWallet{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            border-radius: 1.1vw;
            padding: 0.8vw 1.2vw;
            font-size: 0.9vw;
            font-weight: 500;
            color: #581026;
            background-color: #F1E3E6; 
            cursor: pointer;

            

            &:hover{
                transform: scale(0.95);
            }
        }
        @include mobile{
            .NavbarTelegram{
                padding: 1.2vw 2.4vw;
                font-size: 3vw;
                color: #F1E3E6;
                background-color: transparent; 
            }
            .NavbarConnectWallet{
                position: absolute;
                bottom: -58vw;
                right: 16vw;
                padding: 2vw 4vw;
                font-size: 3vw;
            }
        }
            


    


        .DisconnectButton{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            right: 3vw;
            top: 5.2vw;
            border-radius: 0.5vw;
            padding: 0.4vw 0.7vw;
            font-size: 0.7vw;
            font-weight: 500;
            color: #581026;
            background-color: #F1E3E6;
            cursor: pointer;

            @include mobile{             
                position: absolute;
                right: 19.4vw;
                padding: 1vw 2vw;
                font-size: 2.4vw;
                top: 58vw;
                border-radius: 0.8vw;
            }
        }
        .NavbarTelegram{
            margin-right: 1vw;
        }
    }    
}

.ScrollToTop{
    display: block;
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    z-index: 100;
    opacity: 1;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
    @include mobile{
        right: 5vw;
        bottom: 5vw;
    }
    

    svg{
        filter: invert(86%) sepia(15%) saturate(139%) hue-rotate(292deg) brightness(89%) contrast(87%);
        @include mobile{
            width: 12vw;
            height: 12vw;
        }
    }
}

.HideScrollToTop{
    display: block;
    position: fixed;
    opacity: 0;
}

.HideNavbar{
    transform: translateY(-100%);
    opacity: 0;
}

