@mixin mobile {
    @media screen and (max-width: 1000px) {
        @content
    }
}
.TokenSales{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 77.43%;
    background-color: #581026;

    @include mobile{
        padding-top: 5%;
        height: auto;
    }

    .TokenSalesContainer{
        position: absolute;
        display: flex;
        flex-direction: row;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;

        @include mobile{
            position: relative;
            flex-direction: column;
            height: auto;
        }


        .TokenSalesMobileTitle{
            display: none;
            @include mobile{
                display: block;
                text-align: center;
                font-size: 10vw;
                line-height: 15vw;
                color: #FFFBFF;
                font-family: 'Inter-Bold';
                font-weight: 900;
            }
        }
        .TokenSalesMobileDescription{
            display: none;
            @include mobile{
                display: block;
                position: relative;
                text-align: left;
                width: 63%;
                margin-left: 14%;
                font-size: 3vw;
                line-height: 5vw;
                color: #FFFBFF;
                font-family: 'Inter-Bold';
                font-weight: 500;
                margin-bottom: 10vw;
                margin-top: 5vw;
            }
        }
        .TokenSalesMobileSoccer{
            display: none;
            @include mobile{
                display: block;
                position: absolute;
                text-align: left;
                width: 30vw;
                right: -37vw;
                bottom: -15vw;
                animation: SoccerImg 3s ease-in-out 0s infinite normal forwards;
            }
        }

        .TokenSalesMobileAPIBuyHR{
            display: none;
            @include mobile{
                display: block;
                position: absolute;
                background: linear-gradient(to right, #F1E3E6 0%, #F1E3E6 20%, transparent 20%, transparent 80%, #F1E3E6 80%, #F1E3E6 100%);
                top: 33%;
                left: -51%;
                width: 200%;
                height: 2px;
                opacity: 0.5;
                border: none;
            }
        }

        .TokenSalesMobileAPIBuy{
            display: none;
            position: relative;
            padding: 1.6vw 3.2vw;
            margin-top: 8%;
            font-size: 1.6vw;
            font-family: "Inter-Bold";
            font-weight: 500;
            background-color: #F1E3E6;
            color: #581026;
            border-radius: 1vw;
            cursor: pointer;

            @include mobile{
                display: block;
                font-size: 4.2vw;
                font-family: 'Inter-Bold';
                font-weight: 500;
                padding: 4vw 5vw;
                border-radius: 2vw;
                color: #851A34;
                width: 27%;
                margin: 0 auto;
                margin-bottom: 9vw;
            }

            &:hover{
                transform: scale(1.05);
            }
        }

        .TokenSalesDescription{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 54%;
            height: 100%;

            @include mobile{
                width: 100%;
            }


            .TokenSalesDescriptionTitle{
                position: relative;
                display: block;
                width: max-content;
                margin-top: 7%;
                margin-left: 5%;
                font-size: 4.1vw;
                line-height: 7vw;
                font-family: 'Inter-Bold';
                font-weight: 900;
                color: #FFFBFF;
                letter-spacing: 2px;
                text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

                @include mobile{
                    margin: 0 auto;
                    text-align: center;
                    font-size: 6vw;
                    line-height: 8vw;
                }
            }
            .TokenSalesDescriptionContent{
                display: block;
                position: relative;
                width: max-content;
                margin-left: 6%;
                font-size: 1.2vw;
                line-height: 2vw;
                letter-spacing: 0.3px;
                color: #FFFBFF;

                @include mobile{
                    margin: 0 auto;
                    text-align: center;
                    font-size: 3vw;
                    line-height: 4vw;
                    width: 60%;
                    margin-top: 5vw;
                }
            }

            .TokenSalesLaunched{
                display: block;
                position: relative;
                width: max-content;
                margin-left: 5%;
                margin-top: 6%;
                padding: 1vw 1.8vw;
                font-size: 3.8vw;
                letter-spacing: 2px;
                font-family: 'Inter-Bold';
                font-weight: 900;
                line-height: 6vw;
                border: 4px solid #1EA912;
                border-radius: 2vw;
                color: #40D00E;

                @include mobile{
                    margin: 0 auto;
                    text-align: center;
                    font-size: 5.2vw;
                    margin-top: 15vw;
                    padding: 3vw 6vw;
                    font-weight: 500;
                    border: 0.6vw solid #1EA912;
                    letter-spacing: 1px;
                }
            }

            .TokenSalesAddress{
                display: block;
                position: relative;
                width: max-content;
                margin-left: 6%;
                margin-top: 4%;
                font-size: 1.2vw;
                color: #FFFBFF;
                letter-spacing: 0.3px;

                @include mobile{
                    margin: 0 auto;
                    text-align: center;
                    font-size: 2.4vw;
                    margin-top: 5vw;
                }

                .TokenSalesImportToken{
                    display: block;
                    position: absolute;
                    padding: 1vw 2.2vw;
                    background-color: #FAF1F1;
                    border-radius: 0.5vw;
                    color: #581026;
                    font-size: 1.4vw;
                    font-family: "Inter-Bold";
                    font-weight: 700;
                    margin-top: 5%;
                    white-space: nowrap;
                    cursor: pointer;
                    z-index: 1;

                    &:hover{
                        transform: scale(1.05);
                    }

                    @include mobile{
                        margin: 0 auto;
                        text-align: center;
                        padding: 3vw 4vw;
                        font-size: 3.4vw;
                        top: 7vw;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: 2vw;

                    }
                }
            }

            .TokenSalesDescriptionImg{
                display: block;
                position: relative;
                width: 100%;
                height: fill-available;
                height: -webkit-fill-available;

                @include mobile{
                    height: auto;
                }

                img:nth-child(1){
                    display: block;
                    position: absolute;
                    left: 38%;
                    top: 31%;
                    width: 35%;
                    transform: translate(-50%, -50%);
                    @include mobile{
                        display: none;
                    }
                }
                img:nth-child(2){
                    display: block;
                    position: absolute;
                    left: 75%;
                    top: 30%;
                    transform: translate(-50%, -50%);
                    width: 60%;
                    @include mobile{
                        display: none;
                    }
                }

                .SoccerImg{
                    animation: SoccerImg 3s ease-in-out 0s infinite normal forwards;
                    filter: drop-shadow(-1px 27px 30px rgba(30, 30, 30, 0.5));
                }
            }
        }

        .TokenSalesAPI{
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 46%;
            height: 100%;


            @include mobile{
                width: 100%;
                margin-top: 15vw;
            }


            .TokenSalesAPIDescription{
                position: relative;
                display: block;
                width: max-content;
                margin-top: 10%;
                font-size: 1.6vw;
                line-height: 2vw;
                font-family: 'Inter-Bold';
                font-weight: 500;
                color: #FFFBFF;

                @include mobile{
                    font-size: 3.2vw;
                    line-height: 5vw;
                    font-family: 'Inter-Bold';
                    font-weight: 700;
                    margin-top: 30%;
                }
            }

            .TokenSalesAPIInput{
                display: block;
                position: relative;
                padding: 1vw;
                margin-top: 3vw;
                width: 53%;
                font-size: 1.4vw;
                font-family: 'Inter-Bold';
                font-weight: 500;
                text-align: center;
                background: #D1D3E8;
                border-radius: 0.5vw;
                color: #642F8E;
                outline: none;

                @include mobile{
                    font-size: 4vw;
                    padding: 2vw;
                    font-family: 'Inter-Bold';
                    font-weight: 700;
                    border-radius: 2vw;
                    width: 48%;
                }
            }

            .TokenSalesAPIBuy{
                display: block;
                position: relative;
                padding: 1.6vw 3.2vw;
                margin-top: 8%;
                font-size: 1.6vw;
                font-family: "Inter-Bold";
                font-weight: 500;
                background-color: #F1E3E6;
                color: #581026;
                border-radius: 1vw;
                cursor: pointer;

                @include mobile{
                    font-size: 4.2vw;
                    font-family: 'Inter-Bold';
                    font-weight: 500;
                    padding: 3vw 5vw;
                    border-radius: 2vw;
                    color: #851A34;
                }

                &:hover{
                    transform: scale(1.05);
                }
            }

            .TokenSalesAPIFreemint{
                display: block;
                position: relative;
                margin-top: 8%;
                font-size: 1.6vw;
                font-family: "Inter-Bold";
                font-weight: 500;
                color: #FFFFFF;
                border-radius: 1vw;
                padding: 0.5vw;
                border: 4px solid #1EA912;
                cursor: pointer;

                @include mobile{
                    position: absolute;
                    font-size: 3.4vw;
                    font-family: 'Inter-Bold';
                    font-weight: 500;
                    padding: 1vw 1.6vw;
                    border-radius: 2vw;
                    border: 2px solid #1EA912;
                }

                span{
                    display: block;
                    padding: 1.6vw 3.2vw;
                    background-color: #1EA912;
                    border-radius: 1vw;
                    @include mobile{
                        padding: 3vw 5vw;
                    }
                }
                

                &:hover{
                    transform: scale(1.05);
                }
            }

            .TokenSalesAPIReferral{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                width: 100%;
                height: fill-available;
                height: -webkit-fill-available;
                margin-top: 10%;
                font-size: 1.6vw;
                font-family: "Inter-Bold";
                font-weight: 900;
                color: #FFFBFF;
                letter-spacing: 1px;
                @include mobile{
                    width: 85%;
                    align-items: flex-start;
                    padding-top: 7vw;
                    padding-bottom: 7vw;
                    margin-bottom: 10vw;
                    letter-spacing: 0px;
                    height: auto;

                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 1px;
                        width: 100%;
                        background: linear-gradient(to right, #F1E3E6 0%, #F1E3E6 40%, transparent 40%, transparent 60%, #F1E3E6 60%, #F1E3E6 100%);
                        opacity: 0.5;
                    }
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        height: 1px;
                        width: 100%;
                        background-color: #F1E3E6;
                        opacity: 0.5;
                    }


                }

                .TokenSalesAPIReferralSquareMark{
                    display: none;
                    @include mobile{
                        display: block;
                    }
                    position: absolute;
                    width: 3vw;
                    height: 3vw;
                    top: -2.8vw;
                    left: 50%;
                    transform: translate(-50%, 50%) rotate(45deg);
                    background-color: #CABCC0;
                    opacity: 0.5;
            
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        width: 100%;
                        height: 0.6vw;
                        transform: translateY(-63%);
                        background-color: #581026;
                    }
            
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 0px;
                        height: 100%;
                        width: 0.6vw;
                        transform: translateX(-63%);
                        background-color: #581026;
                    }
                }

                .TokenSalesAPIReferralTitle{
                    display: block;
                    position: relative;
                    width: 60%;
                    padding: 1vw;
                    padding-left: 2vw;
                    @include mobile{
                        font-size: 4vw;
                        line-height: 6vw;
                        font-family: 'Inter-Bold';
                        font-weight: 700;
                        white-space: nowrap;
                    }

                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 7%;
                        height: 1px;
                        width: 87%;
                        background-color: #FAF1F1;
                        opacity: 0.5;
                        @include mobile{
                            display: none;
                        }
                    }
                    &::after{
                        content: 'Get 15% BNB per referral';
                        display: block;
                        position: absolute;
                        bottom: -63%;
                        left: 7%;
                        width: 87%;
                        font-size: 1.2vw;
                        font-family: "Inter-Regular";
                        font-weight: 400;
                        color: #FFFBFF;
                        @include mobile{
                            left: 4%;
                            font-size: 3vw;
                        }
                    }
                }

                .TokenSalesAPIReferralURL{
                    display: block;
                    position: relative;
                    padding: 0.8vw;
                    margin-top: 5vw;
                    width: 54%;
                    font-size: 1.4vw;
                    font-family: "Inter-Bold";
                    font-weight: 900;
                    background: #D1D3E8;
                    border-radius: 0.5vw;
                    color: #581026;
                    outline: none;

                    @include mobile{
                        font-size: 3.2vw;
                        line-height: 4vw;
                        font-family: "Inter-Bold";
                        border-radius: 2vw;
                        padding: 2vw;
                        font-weight: 700;
                        width: 95%;
                        margin: 0auto;
                        margin-top: 10vw;
                        margin-bottom: 8vw;
                    }
                }

                .TokenSalesAPIReferralCopy{
                    display: block;
                    position: relative;
                    padding: 1vw 2.2vw;
                    background-color: #FAF1F1;
                    border-radius: 0.5vw;
                    color: #581026;
                    font-size: 1.4vw;
                    font-family: "Inter-Bold";
                    font-weight: 700;
                    margin-top: 5%;
                    cursor: pointer;

                    @include mobile{
                        font-size: 3.2vw;
                        line-height: 4vw;
                        font-family: 'Inter-Bold';
                        border-radius: 2vw;
                        padding: 3vw 5vw;
                        font-weight: 700;
                        margin: 0 auto;
                        margin-top: 1vw;
                        margin-bottom: 3vw;
                    }

                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }


    .TokenSalesProviders{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 15%;
        bottom: 0px;
        background: rgba(133, 26, 52, 0.6);

        @include mobile{
            position: relative;
            flex-wrap: wrap;
            height: 40vw;
            justify-content: center;
        }

        .ProviderImg{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: calc(100% / 7);
            height: 100%;
            position: relative;
            @include mobile{
                width: calc(100% / 4);
                height: 50%;
            }
            img{
                display: block;
                position: relative;
                width: 100;
                height: 100%;
                object-fit: contain;
                cursor: pointer;

                &:hover{
                    transform: scale(0.9);
                }
            }
            

            &:not(:last-child)::before{
                content: "";
                display: block;
                position: absolute;
                top: 40%;
                right: 0px;
                height: 20%;
                width: 1px;
                background-color: #FFFFFF;
                opacity: 0.75;
            }
        }

    }
}

@keyframes SoccerImg{
    0%{
        transform: translate(-50%, -50%);
    }
    50%{
        transform: translate(-50%, -55%);
    }
    100%{
        transform: translate(-50%, -50%);
    }
}
